@model SystemGroupViewModel

@section scripts{

    <script src="~/Scripts/knockout-3.3.0.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/flot/jquery.flot.min.js"></script>
    <script src="~/Scripts/flot/jquery.flot.time.min.js"></script>
    <script src="~/Scripts/flot/jquery.flot.resize.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>

    <script src="/signalr/hubs"></script>
    <script src="~/Scripts/Views/Common.js"></script>
    <script src="~/Scripts/Views/System/Index.js"></script>
    <script type="text/javascript">
        var rawModel = @Html.ModelToJsonRaw();
    </script>
}

@{
    ViewBag.Title = "System Status - " + Model.Name;
}
<div class="row">
    
    <div class="col-md-12">

        <div class="system-breadcrumb">
            <ul>
                @foreach (var parent in Model.Parents)
            {
                    <li>
                        @Html.ActionLink(parent.Name, "Index", "System", new { id = parent.ID }, new { })<span class="system-breadcrumb-delimiter">></span>
                    </li>
                }
                <li><span class="system-breadcrumb-final">@Model.Name</span></li>
            </ul>
        </div>


    </div>


   
</div>

<div class="row button-row">
    <div class="col-md-6">
        <button class="btn btn-primary btn-sm add-app-button" type="button" data-bind="click: CreateSubSystem" title="Create SubSystem">
            Create Sub System <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </div>
    <div class="col-md-6">
        <button class="btn btn-primary btn-sm add-app-button" type="button" data-bind="click: CreateApp" title="Create App">
            Create App <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </div>
</div>

<div class="row">
    <ul class="app-list" data-refreshall="@Url.Action("RefreshAll", "Home", new { id = Model.SystemGroupID })" data-bind="template: { name: 'systemItemTemplate', foreach: Systems, as: 'item' }"></ul>
</div>


<div class="row">
    <ul class="app-list" data-refreshall="@Url.Action("RefreshAll", "Home", new { id = Model.SystemGroupID })" data-bind="template: { name: 'appItemTemplate', foreach: Apps, as: 'item' }"></ul>
</div>

<div id="app-drilldown-section" data-url="@Url.Action("DrillDownDialog", "System", new { id = Model.SystemGroupID })"></div>

<div id="app-create-section" data-url="@Url.Action("CreateAppDialog", "System", new { id = Model.SystemGroupID })"></div>

<div id="system-create-section" data-url="@Url.Action("CreateSubSystemDialog", "System", new { id = Model.SystemGroupID })"></div>

@Html.Partial("_Templates")